  .modal-dialog {

    @media (min-width: 576px) and (max-width: $screen-md - 1) {
      max-width: unset;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }

    @media (min-width: $screen-md) {
      max-width: 572px;
    }

    @media (min-width: $screen-xl) {
      max-width: 798px;
    }
  }

.modal-content {
  background-color: var(--white);
  border-radius: $border-radius;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;

  @media (min-width: 576px) {
    padding-top: 40px;
  }

  & > .modal-title {
    flex: 1 1 auto;
    align-self: center;
  }

  & > .btn {
    flex: 0 0 56px;
    width: 56px;
    height: 56px;

    @media (max-width: $screen-md - 1) {
      flex: 0 0 44px;
      height: 44px;
      width: 44px;
      min-width: 44px;
    }
  }
}

.modal-header,
.modal-body,
.modal-footer {

  @media (min-width: 576px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.modal-body {
  padding-top: 0;
  padding-bottom: 0;

  p {
    font-size: $font-size;

    @media (max-width: $screen-md - 1) {
      font-size: $font-size-sm;
    }
  }
}

.modal-footer {

  @media (min-width: 576px) {
    padding-bottom: 40px;
  }
}

.modal-title {
  margin: 0 !important;
}
