.table {

  $block-name:                &; // #{$block-name}__element

  //table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  //border: 1px solid $border-color;
  margin: 24px 0;

  caption {
    padding-top: 0.4em;
    text-align: right;
    caption-side: bottom;
    font-size: $font-size-sm;
    line-height: 1em;
    color: var(--gray-900);
  }

  td,
  th {
    padding: 16px 12px;
    vertical-align: top;
    font-weight: 500;
    border-bottom: 1px solid var(--orange-100);

    &:not(:first-child) {
      //border-left: 1px solid $border-color;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  th {
    font-size: $font-size-sm;
    text-align: left;
    color: var(--gray-700);
  }

  td {
    font-size: $font-size;
    color: var(--gray-900);
  }

  &__header {}

  &__body {}

  &__footer {}
}
