table,
.table {

  $block-name:                &; // #{$block-name}__element

  //table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  //border: 1px solid $border-color;
  margin: 1em 0;

  padding: 24px;
  background-color: var(--white);
  border-radius: $border-radius--30;

  caption {
    padding-top: 0.4em;
    text-align: right;
    caption-side: bottom;
    font-size: $font-size-sm;
    line-height: 1em;
    color: var(--gray-900);
  }

  tr {

    &:first-child {

      th {
        padding-top: 24px;

        @media (min-width: $screen-xl) {
          padding-top: 32px;
        }
      }
    }

    &:last-child {

      td {
        padding-bottom: 24px;
        border-bottom: none;

        @media (min-width: $screen-xl) {
          padding-bottom: 32px;
        }
      }
    }
  }

  td,
  th {
    padding: 16px 12px;
    vertical-align: top;
    font-weight: 400;
    hyphens: auto;
    border-bottom: 1px solid var(--orange-100);

    &:not(:first-child) {
      //border-left: 1px solid $border-color;
    }

    &:first-child {
      padding-left: 24px;

      @media (min-width: $screen-xl) {
        padding-left: 40px;
      }
    }

    &:last-child {
      padding-right: 24px;
      //text-align: right;

      @media (min-width: $screen-xl) {
        padding-right: 40px;
      }
    }
  }

  th {
    font-size: $font-size-sm;
    text-align: left;
    color: var(--gray-700);
  }

  td {
    font-size: $font-size;
    color: var(--gray-900);
  }

  &__header {}

  &__body {}

  &__footer {}
}
