.pagination {
  display: flex;
  flex-wrap: wrap;
  //justify-content: center;
  margin-top: 72px;
  //margin-bottom: 60px;

  @media (min-width: $screen-xl) {
    //justify-content: flex-start;
    margin-top: 96px;
  }

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  &__item {
    //margin-right: 0.5em;

    // &:last-child {
    //   margin-right: 0;
    // }

    &.active {

      a {
        text-decoration: none;
        color: var(--orange-600);
        background-color: var(--orange-100);
      }
    }

    &--prev,
    &--next {

      #{$block-name}__link {
        background-size: 8px 14px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--prev {
      //margin-right: 20px;

      #{$block-name}__link {
        transform: scale(-1, 1);
        background-image: svg-load('../blocks/pagination/bg-img/right-arrow-icon.svg', fill=#3C0B02);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/pagination/bg-img/right-arrow-icon.svg', fill=#B33213);
        }

        &--disabled {
          background-image: svg-load('../blocks/pagination/bg-img/right-arrow-icon.svg', fill=#898989);
        }
      }
    }

    &--next {
      //margin-left: 20px;

      #{$block-name}__link {
        background-image: svg-load('../blocks/pagination/bg-img/right-arrow-icon.svg', fill=#3C0B02);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/pagination/bg-img/right-arrow-icon.svg', fill=#B33213);
        }

        &--disabled {
          background-image: svg-load('../blocks/pagination/bg-img/right-arrow-icon.svg', fill=#898989);
        }
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    font-size: $font-size-sm;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    color: var(--orange-900);
    background-color: var(--white);
    border-radius: $border-radius--16;
    transition: $transition;
    user-select: none;

    @media (min-width: $screen-md) {
      width: 56px;
      height: 56px;
      font-size: $font-size;
      border-radius: $border-radius;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: var(--orange-600);
      background-color: var(--orange-100);
    }

    &--disabled,
    &:disabled {
      background-color: var(--gray-150);
      pointer-events: none;
    }
  }
}
