.page-header {
  $block-name:                &; // #{$block-name}__element

  padding: 8px 8px 0;
  //margin-top: 8px;
  border-radius: $border-radius--40;

  &__wrapper {
    padding: 0 8px;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 16px;
    position: relative;
    z-index: 1;
    height: 56px;
    padding: 6px 8px 6px 16px;
    margin-bottom: 20px;
    background-color: var(--white);
    border-radius: $border-radius--30;

    @media (min-width: $screen-md) {
      height: 68px;
      margin-bottom: 40px;
    }

    .logo {
      flex-shrink: 0;
      transform: translateY(-5px);

      @media (min-width: $screen-md) {
        transform: translateY(-9px);
      }

      @media (min-width: $screen-xl) {
        transform: translateY(-6px);
      }
    }

    .main-nav {
      flex: 1 1;
    }

    &.is-fixed {
      box-shadow: 0 8px 24px rgba(0,0,0,.08); // если надо?
    }
  }

  &__service {
    flex: 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 8px;
  }

  &__hero {

    &--inner {
      padding-bottom: 24px;
    }
  }

  &__title {
    margin-top: 0;
  }

  &__intro {
    text-wrap: balance;
    color: var(--gray-900);
  }

  &--index {
    background-color: var(--orange-400);
    background-repeat: repeat;
    background-size: 42px; // 65% от 64px
    background-image:
      linear-gradient(180deg, rgba(241, 71, 29, 0) 0%, var(--orange-400) 100%),
      url('../img/tile-index.png');
  }

  &--inner-pink {
    background-color: var(--orange-100);
    background-repeat: repeat;
    background-size: 42px; // 65% от 64px
    background-image:
      linear-gradient(180deg, rgba(241, 71, 29, 0) 0%, var(--orange-100) 100%),
      url('../img/tile-index-inner.png');
  }

  &--inner-gray {
    background-color: var(--gray-50);
    // background-repeat: repeat;
    // background-size: 42px; // 65% от 64px
    // background-image:
    //   linear-gradient(180deg, rgba(241, 71, 29, 0) 0%, var(--orange-100) 100%),
    //   url('../img/tile-index-inner.png');

    #{$block-name}__title,
    #{$block-name}__intro {
      text-align: center;

      @media (min-width: $screen-xl) {
        max-width: 60%;
        margin-right: auto;
        margin-left: auto;
      }

      @media (min-width: $screen-xxl) {
        max-width: 66%;
      }
    }

    .breadcrumbs {
      display: flex;
      justify-content: center;
    }
  }

  &--tileless {
    background-color: var(--orange-50);
    background-image: none;
  }
}
