.job {
  $block-name:                &; // #{$block-name}__element


  &__header {
    margin-bottom: 24px;
    text-align: center;
  }

  //&__header-col {
  //}

  &__title {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
  }
}
