.lang-switcher {
  $block-name:                &; // #{$block-name}__element

  display: inline-flex;

  .dropdown-toggle {
    padding-left: 8px;
  }

  .dropdown-menu {
    min-width: 100%;
    padding: 16px 0;
    border-radius: $border-radius;
    border: 2px solid var(--gray-150);
  }

  li.active {

    .dropdown-item {
      color: $link-color;
      pointer-events: none;
    }
  }

  .dropdown-item {
    padding: 6px 16px;
    font-family: inherit;
    font-size: $font-size-sm;
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $link-color--hover;
    }

    &:active {
      color: $link-color--hover;
      background-color: transparent;
    }
  }
}
