.table-mobile-scroll {
  $block-name:                &; // #{$block-name}__element

  display: block;
  width: 100%;
  overflow-x: auto;
  padding: 8px 24px;
  margin: 1em 0;
  background-color: var(--white);
  border-radius: $border-radius--30;
  //border: 1px solid $border-color;

  @media (min-width: $screen-xl) {
    padding: 16px 40px;
  }

  table {
    table-layout: auto;
    //table-layout: fixed;
    width: auto;      /* Ширина таблицы по контенту */
    min-width: 100%;    /* Чтобы таблица не была уже контейнера */
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0 !important; // stylelint-disable-line  declaration-no-important
  }

  tbody,
  thead,
  tfoot {

    td,
    th {
      padding-top: 16px !important;
      padding-bottom: 16px !important;
      hyphens: none;
      white-space: normal;
      word-break: normal;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        //text-align: right;
      }
    }

    &:last-child {

      tr:last-child {

        // stylelint-disable  max-nesting-depth, selector-max-compound-selectors
        td,
        th {
          border-bottom: 0;
        }
        // stylelint-enable
      }
    }
  }

  caption {
    text-align: left;
    padding: 0.4em;
    //border-bottom: 1px solid $border-color;
    caption-side: top;
  }
}
