.service-card {
  $block-name:                &; // #{$block-name}__element

  height: 100%;
  padding: 24px;
  background: linear-gradient(to top, var(--gray-0), var(--orange-50) 100%);
  border-radius: $border-radius--30;


  @media (min-width: $screen-xxl) {
    padding: 40px;
  }

  &__wrapper {

    .row {
      gap: 8px 0;
    }
  }

  &__outer-col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 3);
  }

  &__block-header {
    max-width: 800px;
    margin: 0 auto 24px;
    text-align: center;
  }

  &__block-title {
    margin-top: 0;
    text-align: center;
  }

  &__block-intro {
    text-wrap: balance;
  }

  &__title {
    margin: 0 0 12px;
  }

  &__descr {
    font-size: $font-size-sm;

    @media (min-width: $screen-md) {
      font-size: $font-size;
    }
  }
}
