.messengers {
  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }

  &__item {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--orange-400);
    background-color: var(--orange-50);
    border-radius: $border-radius--16;

    &:hover,
    &:focus {
      background-color: var(--orange-200);
    }

    svg {
      width: 20px;
      height: 20px;
      stroke: currentColor;
    }
  }

  &__decr {
    display: block;
    font-size: $font-size;
    white-space: nowrap;
    color: var(--gray-900);
  }

  &--big-icon {

    #{$block-name}__list {
      gap: 12px 24px;
    }

    #{$block-name}__item {
      flex: 0 0 56px;
    }

    #{$block-name}__link {
      width: 56px;
      height: 56px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.contacts,
.page-footer {

  .messengers__link {
    background-color: var(--white);

    &:hover,
    &:focus {
      background-color: var(--orange-200);
    }
  }
}
