.gallery-marquee {
  $block-name:                &; // #{$block-name}__element

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }

  &__content,
  &__top,
  &__bottom {
    overflow: hidden;
  }

  // &__top {
  // }

  // &__bottom {
  // }

  &__track {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__slide {
    flex: 0 0;
    flex-basis: 360px;
    border-radius: $border-radius--30;

    @media (min-width: $screen-md) {
      flex-basis: 407px;
    }

    @media (min-width: $screen-xl) {
      flex-basis: 510px;
    }

    @media (min-width: $screen-xxl) {
      flex-basis: 780px;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__link-wrapper {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background: var(--white);
    border-radius: $border-radius--30;
  }
}
