.about-us {
  $block-name:                &; // #{$block-name}__element

  &__row {
    gap: 40px 0;
  }

  &__text-col,
  &__img-col {
    @include col(xs, 12);
    @include col(xl, 6);
  }

  &__text-col {

    @media (min-width: $screen-xl) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  // &__img-col {
  // }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 24px 0;

    @media (min-width: $screen-xl) {
      padding-right: 24px;
    }

    @media (min-width: $screen-xxl) {
      padding-right: 96px;
    }
  }

  &__title {
    margin: 0;
  }

  &__intro {

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px 0;
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    & > * {
      flex: 0 0 auto;
    }
  }

  &__img {
    border-radius: $border-radius--30;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &--flip {

    #{$block-name}__row {
      flex-direction: row-reverse;
    }

    #{$block-name}__text-col {

      @media (max-width: $screen-xl - 1) {
        order: 1;
      }

      @media (min-width: $screen-xl) {
        padding-right: 0;
        padding-left: 24px;
      }

      @media (min-width: $screen-xxl) {
        padding-right: 0;
        padding-left: 96px;
      }
    }
  }
}
